header {
    background-color: #4589A0;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
}

header .logo-container {
    margin-right: auto; 
}

header .text-container{
    margin-left: auto; 
    font-size: 20px;
    margin-right: 20px;

}





